<h1>Админ-панель</h1>

<ul>
  <li><%= link_to 'Управление пользователями', admin_users_path %></li>
  <li><%= link_to 'Управление темами', admin_topics_path %></li>
  <li><%= link_to 'Управление комментариями', admin_comments_path %></li>
</ul>

<%= link_to 'Назад на главную', root_path %>
