<%= stylesheet_link_tag 'navbar', media: 'all' %>

<div class="theme_block">
     <div class="topic">
        <h2>О проекте</h2>
        <p>Локус — это онлайн-платформа для активных горожан, архитекторов и дизайнеров среды, которая позволяет обсуждать, планировать и улучшать городские пространства.</p>

        <p>Мы создаем цифровое пространство для открытого диалога о проблемах районов, совместного обсуждения инициатив и поиска решений для городских вопросов.</p>
        
        <p>Цель проекта — вовлечь жителей и экспертов в процесс развития городской среды, сделать обсуждение проблем доступным и прозрачным, а решения — более быстрыми и эффективными.</p>
        
        <p>Наша миссия — создать городскую среду, в которой учитываются потребности всех, где каждый может внести свой вклад в благоустройство и развитие своего района.</p>
     </div>
</div>