body {
  background-color: #f0f4f8;
  font-family: Inter, sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  padding: 20px;
  width: 45vw;
}

h1 {
  font-size: 3.3vw;
  margin-bottom: 10px;
  font-weight: 500;
}

p {
  margin-bottom: 30px;
  font-size: 1.8vw;
}

.logo {
  margin-bottom: 20px;
}
#days,
#hours,
#minutes,
#seconds {
  font-size: 4.444vw;
}
.countdown {
  display: flex;
  gap: 20px;
  font-size: 1.806vw;
  font-weight: bold;
  margin-bottom: 20px;
  justify-content: center;
}

.countdown div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown span {
  font-size: 0.5em;
  font-weight: normal;
}

.email-input {
  margin-top: 1vw;
  padding: 1.4vw;
  width: 40vw;
  font-size: 1em;
  border: 1px solid #e0e4ed;
  background-color: #e0e4ed;
  border-radius: 0.694vw;
  outline: none;
  font-size: 1.389vw;
}

.telegram-button {
  margin-top: 30px;
  font-size: 2em;
  color: #0088cc;
  cursor: pointer;
}
.divider {
  width: 2px;
  background-color: #000;
  margin: 0 15px;
}
